<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WPF_ZooManager.Properties.Settings.PanjutorialsDBConnectionString"
            connectionString="Data Source=DESKTOP-89VEM0J\PANJUTORIALSSQL;Initial Catalog=PanjutorialsDB;Persist Security Info=True;User ID=sa;Password=panjutorials"
            providerName="System.Data.SqlClient" />
        <add name="WPF_ZooManager.Properties.Settings.DemoDBConnectionString"
            connectionString="Data Source=GRL-LT-136\FIRSTDEMOPROJECT;Initial Catalog=DemoDB;Persist Security Info=True;User ID=sa;Password=yesembee3496;Pooling=False;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
